{% extends 'base.html.twig' %}

{% block title %}Mon Compte -Boutique!{% endblock %}


{% block content %}
    <h1>Mon compte</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <small><a href="/admin">Vous êtes un administrateur, accéder au backoffice ?</a></small><br/>
    {% endif %}
    Bienvenue {{ app.user.firstname }} dans votre compte.<br/>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
    <hr>
    <a href="{{ path('account_password')}}">Modifier mon mot de passe</a><br>
    <a href="{{ path('account_address')}}">Gerer mes adresse</a><br>
    <a href="{{ path('account_order')}}">Mes commandes</a><br>


        {% endblock %}
 