{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe -Boutique!{% endblock %}

{% block content %}
<h1>Modifer mon mot de passe !</h1>
    Bienvenus {{app.user.firstname}} dans votre compte,<br>
         c'est dans votre espace que vous aller pouvoire gerer toutes vos informations personnells
<hr>
    <a href="{{ path('account')}}">Retour a mon compte</a><br>
       <hr>
        {% if notification %}
    <div class="alert alert-danger">{{notification}}</div>
    {% endif %}
       {{form( form )}}
        <hr>
 

        {% endblock %}
 