{% extends 'base.html.twig' %}

{% block content %}

{% if notification %}
    <div class="alert alert-info">
        {{ notification }}
    </div>
    <hr>
    {% endif %}

    {{ form(form) }}
        
{% endblock %}
