{% extends 'base.html.twig' %}

{% block title %}
    Nous contacter - La Boutique Marrocane
{% endblock %}

{% block content %}
    <h2>
        Nous contacter
    </h2>
    <p>
        N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.
    </p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">
            {{ form(form) }}
            </div>
            <div class="col-md-4">
                <strong>
                    La Boutique Marrocane
                </strong>
                <hr>
                    06 11 11 22 24
                    <br/>
                  27° rue Tijanien hay ouahda, 11004 Rabat.
                    <br/>
                   badr.bechtioui@gmail.com
                    <br/>
                </div>
            </div>

        {% endblock %}
        
