{% extends 'base.html.twig' %}

{% block title %}Page introuvable - La Boutique Française{% endblock %}

{% block content %}
    <div class="block-small">
        <h2>Page introuvable</h2>
        <p>Désolé, cette page ne semble pas être accessible pour le moment.</p>
        <a href="{{ path('home') }}" class="btn btn-info">Revenir à l'accueil</a>
    </div>
{% endblock %}
